/* Reset default margin and padding */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 20px;
}

/* Set a background color and font styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}

/* Center content and limit width */
.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;
}

/* Style header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

/* Style sections */
section {
    padding: 40px 0;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Style form */
form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form textarea {
    resize: vertical;
}

form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.infographic {
    background-color: #f9f9f9;
    padding: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.label {
    font-weight: bold;
    margin-right: 10px;
}

.value {
    color: #333;
}

.education {
    padding: 40px 0;
}

.education-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.education-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.education-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.education-card p {
    font-size: 16px;
    margin-bottom: 5px;
}


.links a {
    margin-right: 20px;
    color: #3355ff;
    text-decoration: none;
    padding: 20px;
}
.image-with-caption {
    display: flex;
    align-items: center; /* Vertically align image and text */
}

.image-with-caption img {
    max-width: 50%; /* Adjust the width of the image */
    margin-right: 20px; /* Add spacing between image and text */
}

.image-with-caption figcaption {
    flex-grow: 1; /* Allow the text to expand and take up remaining space */
}
